body {
    font-family: Arial, sans-serif; 
    background-image: url('/static/images/Background_Pommern.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
}

.title {
    font-size: 48px;
    text-align: center;
    color: whitesmoke;
    padding-top: 12%;
}

.account-info-container {
    position: relative;
    margin: auto;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: start;
    background: linear-gradient(to right, rgba(30, 87, 153, 0.8), rgba(41, 137, 216, 0.8), rgba(32, 124, 202, 0.8), rgba(125, 185, 232, 0.8));
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.account-name-container {
    font-size: 36px;
    font-weight: bold;
    transform: translateY(-10%);
}

.account-details-container {
    text-align: right;
    padding-left: 40px; /* Space between the name and the details */
    font-size: 18px;
    line-height: 1.4;
}

/* For smaller screens (e.g., mobile devices) */
@media (max-width: 1200px) {
    .account-info-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .account-name-container,
    .account-details-container {
        flex-basis: auto;
        width: 100%;
        text-align: center;
        transform: translateY(0);
        padding-bottom: 10px;
    }

    .account-details-container {
        text-align: right;
        padding-left: 0;
    }
}

.account-details-container img {
    height: 20px;
    width: auto;
    margin-left: 8px;
    vertical-align: middle;
    transform: translateY(-10%);
}

.hidden {
    display: none;
}

.blur-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(8px);
}

.stats-container {
    margin: auto 1.5%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 40px 50px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap; /* Wrap the children if the container is too narrow */
    gap: 50px; /* Add some space between the columns */
    text-shadow: 0.5px 0.5px 0.5px #000;
    justify-content: space-between; /* Space out the columns */
}

.ship-stats-container {
    margin: auto 1%;
    background: rgba(0, 0, 0, 0);
    color: white;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap; /* Wrap the children if the container is too narrow */
    gap: 50px; /* Add some space between the columns */
    text-shadow: 0.5px 0.5px 0.5px #000;
    justify-content: space-between; /* Space out the columns */
}

.column-title {
    font-size: 20px;
    margin-bottom: 10px; /* Space between title and first stat row */
    text-align: center; /* Center the column title */
}

.stat-row {
    display: flex;
    justify-content: space-between; /* Space between label and number */
    border-bottom: 1px dotted #fff; /* Dotted line for separation */
    padding: 10px 0; /* Padding for top and bottom */
}

.stat-column {
    flex: 1; /* Each column takes up equal space */
    min-width: 200px;
    max-width: 500px;
}

.stat-label {
    text-align: left;
    flex: 1; /* Take up the available space */
}

.stat-value {
    text-align: right;
}


/* Container for the dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    transform: translateY(-25%);
    z-index: 1000;
}

/* Dropdown button */
.dropbtn {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 18px;
    text-shadow: 0.5px 0.5px 0.5px #000;
    padding: 8px 12px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

.dropbtn img {
    max-width: 35px;
    max-height: 35px;
    vertical-align: middle;
    margin-right: 1px; /* Space between image and text */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    min-width: 187px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    overflow: hidden; /* Ensures the border radius applies to the children */
    z-index: 1;
}

/* Items inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s;
}

.dropbtn:hover {
    background: rgba(0, 0, 0, 0.6);
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.ship-list-container {
    margin: auto 1.5%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 50px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    text-shadow: 0.5px 0.5px 0.5px #000;
}

.ship-item {
    cursor: pointer;
}

#shipTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    color: white;
}

#shipTable th {
    background-color: rgb(18, 18, 18, 0.95);
    padding: 12px 8px;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px solid #666;
    position: sticky; /* Make the header sticky */
    top: 0; /* Set the top position to 0 so it sticks to the top of the table's scrollable area */
    z-index: 10; /* Ensure the header is above other content when scrolling */
}

#shipTable td {
    height: 45px; /* Define a fixed height for the cells */
    vertical-align: middle; /* Align the content in the middle vertically */
    border-bottom: 1px solid #666;
}

#shipTable tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05); /* Zebra striping for rows */
}

#shipTable tr:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Hover effect for rows */
}

#shipTable th.nation,
#shipTable td.nation,
#shipTable th.ship-type,
#shipTable td.ship-type,
#shipTable th.tier,
#shipTable td.tier {
    width: 5%;
}

#shipTable td.nation img {
    max-height: 75%;
    transform: translateY(6%);
}

#shipTable td.ship-type img {
    transform: translateY(6%);
}

#shipTable th.ship-icon,
#shipTable td.ship-icon {
    width: 10%;
    text-align: right;
}

#shipTable td.ship-icon img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    transform: translateY(-5%);
}

#shipTable th.ship-name,
#shipTable td.ship-name {
    text-align: left;
    padding-left: 2%;
}

#shipTable th.battles,
#shipTable td.battles,
#shipTable th.win-rate,
#shipTable td.win-rate,
#shipTable th.damage,
#shipTable td.damage {
    width: 10%;
    text-align: right;
    padding-right: 2%;
}

#shipTable th.frags,
#shipTable td.frags,
#shipTable th.xp,
#shipTable td.xp,
#shipTable th.kd,
#shipTable td.kd {
    width: 8%;
    text-align: right;
    padding-right: 2%;
}

#shipTable th.date,
#shipTable td.date {
    width: 9%;
}

#shipTable th.season-id,
#shipTable td.season-id {
    text-align: right;
    padding-right: 0%;
}

#shipTable td.season-icon img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 2%;
}

#shipTable th.season-name,
#shipTable td.season-name {
    text-align: left;
    padding-left: 0%;
}


#shipTable th.dmg,
#shipTable td.dmg {
    width: 10%;
    text-align: right;
    padding-right: 2%;
}

#shipTable th.dmg-ship,
#shipTable td.dmg-ship {
    width: 10%;
    text-align: left;
    padding-left: 0%;
}


.search-box {
    position: relative;
    max-width: 350px;
    margin-left: auto; 
    margin-right: 5%;
    transform: translateY(-30%);
    z-index: 1000;
}

.search-box-standalone {
    position: relative;
    margin: auto;
    max-width: 600px;
}

.player-search {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    outline: none;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
}

.search-results-container {
    position: absolute;
    top: 100%; /* Position it below the search input */
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

.search-result-item {
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-result-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.message-container {
    position: relative;
    margin: auto;
    max-width: 600px;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 5px solid lightblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
