<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load humanize %}
    {% load custom_filters %}

    <title>World of Warships Player Profile</title>
    <link rel="icon" type="image/svg" href="{% static 'images/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<body>
    <div class="blur-background"></div>

    <div class="header">
        <div class="header-title">
            <a href="{% url 'player_search' %}" class="logo-link">World of Warships Player Stats</a>
        </div>
        <div class="header-right">
            <div class="search-box-standalone">
                <input class="player-search" id="player-search" placeholder="Search for a player...">
                <div class="search-results-container" id="search-results">
                    <!-- Dynamically inserted search result items will go here -->
                </div>
            </div>
            <a href="{% url 'login_redirect' %}" class="login-button">Log in with Wargaming account</a>
        </div>
    </div>
    
    <table style="white-space:nowrap; margin: auto 1.5%;">
        <tr>
            <td style="text-align: left; padding-left: 25px; width: 20%;">
                <div class="account-info-container">
                    <div class="account-name-container">
                        {{ account_data.clan_tag }}{{ account_data.nickname }}
                    </div>
                    <div class="account-details-container">
                        Battles Fought {{ account_data.statistics.battles|intcomma }}<img src="{% static 'images/icons/gunboat.png' %}" alt=""><br>
                        Last Battle at {{ account_data.last_battle_time|date:"Y-m-d H:i" }}<img src="{% static 'images/icons/calendar.png' %}" alt=""><br>
                        Updated at {{ account_data.updated_at|date:"Y-m-d H:i" }}<img src="{% static 'images/icons/update.png' %}" alt=""><br>
                        {% if account_data.private %}
                            Battle Life Time {{ account_data.private.battle_life_time|format_time }}<img src="{% static 'images/icons/time.png' %}" alt=""><br>
                        {% endif %}
                    </div>
                </div>
            </td>
            <td style="padding-left: 3%;">
                <div class="dropdown">
                    <button class="dropbtn" id="dropdownMenuButton">
                        <img id="gameModeImage" src="{% static 'images/game_modes/pvp.png' %}" alt="Game Mode" />
                        <span>Random Battles</span>
                    </button>                                     
                    <div class="dropdown-content">
                        <a href="#" onclick="selectDropdownOption(this)">Random Battles</a>
                        <a href="#" onclick="selectDropdownOption(this)">Co-op Battles</a>
                        <a href="#" onclick="selectDropdownOption(this)">Operations</a>
                        <a href="#" onclick="selectDropdownOption(this)">Ranked Battles</a>
                        <!-- <a href="#" onclick="selectDropdownOption(this)">Ranked Battles (Legacy)</a> -->
                        <a href="#" onclick="selectDropdownOption(this)">Clan Battles</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <br></br>

    <!--  ------------------------------------------------------------------------------------------ -->
    <!--  ------------------------------------- Overall Stats -------------------------------------- -->
    <!--  ------------------------------------------------------------------------------------------ -->

    <div id="non_oper" class="table-container">
        <!-- Table structure for non Operation Battles -->
        <div class="account-stats-table"></div>
        <br></br>
        <div class="weapon-stats-table"></div>
    </div>

    <div id="oper" class="table-container hidden">
        <!-- Table structure for Operations -->
        <div class="oper-stats-table"></div>
    </div>

    <br></br>


    <!--  ------------------------------------------------------------------------------------------ -->
    <!--  --------------------------------------- Ship List ---------------------------------------- -->
    <!--  ------------------------------------------------------------------------------------------ -->

    <div id="shipList" class="ship-list-container">
        <table id="shipTable">
            <!-- To be populated dynamically -->
            <thead></thead> 
            <tbody></tbody>
        </table>
    </div>


    <div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
        <button class="dropbtn" id="export-data">Export Player Stats</button>
    </div>


    {{ account_data|json_script:"account_data" }}
    {{ ship_data|json_script:"ship_data" }}
    {{ cw_data|json_script:"cw_data" }}
    {{ encyclopedia_info|json_script:"encyclopedia_info" }}
    {{ ship_encyclopedia|json_script:"ship_encyclopedia" }}

    <script>
        var staticUrl = "{% get_static_prefix %}";
    </script>
    <script src="{% static 'js/player_stats_script.js' %}"></script>

</body>
</html>
