<!DOCTYPE html>
<html>

<head>
    {% load static %}
    {% load humanize %}

    <title>World of Warships Player Search</title>
    <link rel="icon" type="image/svg" href="{% static 'images/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="blur-background"></div>

    <div class="header">
        <div class="header-title">
            <a href="{% url 'player_search' %}" class="logo-link">World of Warships Player Stats</a>
        </div>
        <div class="header-right">
            <div class="search-box-standalone">
                <input class="player-search" id="player-search" placeholder="Search for a player...">
                <div class="search-results-container" id="search-results">
                    <!-- Dynamically inserted search result items will go here -->
                </div>
            </div>
            {% if request.session.account_id %}
            <a href="{% url 'player_stats' request.session.account_id %}" class="login-button">
                View My Profile (Logged In)
            </a>
            {% else %}
            <a href="{% url 'login_redirect' %}" class="login-button">
                Log in with Wargaming account
            </a>
            {% endif %}
        </div>
    </div>

    <div class="main-summary">
        <div class="main-summary-title">World of Warships Profile Viewer</div>
        <div class="main-summary-text">This web application serves as a comprehensive platform for players of "World of Warships" to search and view detailed statistics about their accounts and individual ship performances. Unique to this application is the inclusion of detailed statistics for the often overlooked Operation game mode, filling a gap left by the official player profile. Additionally, Clan Battle statistics are aggregated to give players a better look at their participation each season and overall. </div>
    </div>

    <div class="message-container" style="margin: 3% 20%;font-size: 1.1em;letter-spacing: .02em;line-height: 1.5;">
        Feature List
        <ol>
            <li>Player Search: Users can search for player accounts using a search query. This sends a request to the "World of Warships" API to retrieve a list of matching player accounts. When a specific player account is selected, it fetches detailed statistics about the player's performance, including battles played, victories, defeats, and other relevant data for different game modes (Random, Co-op, Ranked, and Operation).</li>
            <li>Statistics Visualization: The application dynamically generates detailed statistics for both the account and individual ships selected. It processes data fetched from Wargaming's API, including player stats and individual ship stats. This also includes displaying calculated statistics such as KD ratios, average experience per battle, hit ratios, and more. The data is then presented in a user-friendly interface, offering insights into performance metrics across different game modes.</li>
            <li>Clan Battle Statistics: Clan Battle and Clan Brawl statistics are displayed for each season. However, these stats are not intended to be used to measure player performance since individual performance is not the primary focus of this game mode.</li>
            <li>Login Option: Players with private profiles can log in with their Wargaming account to view their own stats, even when others cannot. Players with public profiles can view additional stats after logging in, such as overall battle lifetime, credits, gold, free experience, number of port slots, and ships in port.</li>
        </ol> 
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const searchInput = document.getElementById('player-search');
            const resultsContainer = document.getElementById('search-results');

            searchInput.addEventListener('input', () => {
                const searchTerm = searchInput.value;
                fetch(`/search_players/?search=${encodeURIComponent(searchTerm)}`)
                    .then(response => response.json())
                    .then(data => {
                        // Clear previous results
                        resultsContainer.innerHTML = '';
                        // Add new results to resultsContainer
                        data['data'].forEach(player => {
                            const playerElement = document.createElement('div');
                            playerElement.textContent = player.nickname;
                            playerElement.dataset.accountId = player.account_id;
                            playerElement.classList.add('search-result-item');
                            resultsContainer.appendChild(playerElement);

                            // Add click event to each result to update the player stats
                            playerElement.addEventListener('click', () => {
                                const accountID = playerElement.dataset.accountId;
                                // Call a function to update stats using this accountID
                                updatePlayerStats(accountID);
                            });
                        });
                    });
            });
        });

        function updatePlayerStats(accountID) {
            window.location.href = `/player_stats/${accountID}`;
        }
    </script>
</body>
</html>